<article id="book-review-<%= book_review.id %>" class="media<%= ' is-primary' if book_review.id == referred_review_id %>">
  <section class="media-content">
    <div class="content">
      <div class="level">
        <div class="level-left">
          <p class="review-heading level-item">
            <span class="reviewer-email has-text-weight-bold">
              <%= book_review.user.email %>
            </span>
            <span class="ml-auto review-time-ago">
              (<%= time_ago_in_words(book_review.created_at) %> ago)
            </span>
          </p>
        </div>
        <div class="level-right">
          <div class="buttons level-item is-justify-content-flex-end">
          <% if policy(book_review).update? %>
            <%= link_to edit_book_review_path(book_review.book, book_review), class: 'button is-info' do %>
                <span class="icon">
                  <i class="fas fa-edit" aria-hidde="true"></i>
                </span>
                <span>Edit<span class="is-sr-only"> book review</span></span>
            <% end %>
          <% end %>
          <% if policy(book_review).destroy? %>
            <%= link_to book_review_path(book_review.book, book_review), class: 'button is-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this review?' } do %>
                <span class="icon">
                  <i class="fas fa-times" aria-hidde="true"></i>
                </span>
                <span>Delete<span class="is-sr-only"> book review</span></span>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="review-content">
        <%= simple_format(book_review.body) %>
      </div>
    </div>
  </section>
</article>
