<%= form_with(model: book_review, url: form_path,
              html: { class: 'new-book-review-form box' }) do |f| %>
  <div class="field">
    <label for="book-title">Book title</label>

    <div class="control">
      <input class="input" type="text" value="<%= @book.title %>" class="is-static" readonly>
    </div>
    <%= help_error_message(f, :book_id) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.text_area :body, class: 'textarea', placeholder: 'Write your awesome book review...',
              autofocus: 'autofocus' %>
    </div>
    <%= help_error_message(f, :body) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Save", class: 'button is-primary' %>
    </div>
  </div>
<% end %>
