<h1 class="book-title"><%= link_to @book.title, @book %></h1>
<h2 class="subtitle">Book reviews</h2>

<section class="book_reviews">
  <%= render @book_reviews, { referred_review_id: @referred_review_id } %>
</section>
