<h2 class="title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { class: 'sign-up-form box' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>

    <% if @minimum_password_length %>
      <p class="help is-info">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Sign up", class: 'button is-primary' %>
    </div>
  </div>
<% end %>
