<div class="field">
  <%= label_tag 'author_id', 'Author', class: 'label' %>

  <div class="control has-icons-left">
    <div class="select is-fullwidth">
      <%= select_tag 'author_id',
            options_from_collection_for_select(authors, :id, :name, params[:author_id]),
            prompt: 'Select author' %>
    </div>

    <span class="icon is-left">
      <i class="fas fa-pen-nib" aria-hidden="true"></i>
    </span>
  </div>

  <%= help_error_message(f, :new_book_author_id) %>
</div>
