<h2 class="title">Add author</h2>

<%= form_with(model: @book, method: :post, url: book_authors_path(@book),
              html: { class: 'add-author-form box' }) do |f| %>

  <%= render 'new_field', f: f, authors: @authors %>

  <div class="field">
    <div class="control">
      <%= f.submit 'Save', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
