<h1 class="title">User Roles</h1>

<div class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @user_roles.each do |user_role| %>
        <%= user_role_row(user_role, @referred_user_id) do %>
          <th scope="row">
            <%= user_role.email %>
          </th>
          <td class="user-role-label">
            <span class="tag has-user-role-<%= user_role.admin? ? 'admin' : user_role.role %>">
              <%= user_role.role_label %>
            </span>
          </td>
          <td class="user-role-update">
            <% unless user_role.admin? %>
              <%= form_tag admin_user_role_path(user_role.user_id), method: :patch do %>
                <%= hidden_field_tag 'user_role[role]', opposite_user_role(user_role) %>
                <%= update_user_role_button(user_role) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
