<%- allow_delete_tags = local_assigns.fetch(:allow_delete_tags, false) -%>
<section class="book-authors mb-3">
  <div class="tags">
    <% authors.each do |author| %>
      <p class="tag is-medium" id="book-author-<%= author.id %>-tag">
        <%= link_to author, class: 'author-tag-link' do %>
          <span class="icon">
            <i class="fas fa-pen-nib" aria-hidden="true"></i>
          </span>
          <span><%= author.name %></span>
        <% end %>

        <% if allow_delete_tags %>
          <%= link_to book_author_path(book, author),
                class: 'delete is-small', method: :delete,
                data: { confirm: 'Are you sure you want to remove this author?' } do %>
            <span class="is-sr-only">Remove author</span>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <% unless authors.any? %>
      <p class="tag is-medium">
        <span class="icon">
          <i class="fas fa-pen-nib" aria-hidden="true"></i>
        </span>
        <span>No authors assigned yet.</span>
      </p>
    <% end %>
  </div>
</section>
