<%= form_with(model: author, html: { class: 'author-form box' }) do |f| %>
  <div class="field">
    <%= f.label :name, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.text_field :name, class: 'input' %>

      <span class="icon is-left">
        <i class="fas fa-pen-nib" aria-hidden="true"></i>
      </span>
    </div>
    <%= help_error_message(f, :name) %>
  </div>

  <div class="field">
    <%= f.label :wiki_url, 'Wikipedia URL', class: 'label' %>

    <div class="control has-icons-left">
      <%= f.url_field :wiki_url, class: 'input' %>

      <span class="icon is-left">
        <i class="fab fa-wikipedia-w" aria-hidden="true"></i>
      </span>
    </div>

    <%= help_error_message(f, :wiki_url) %>
  </div>

  <div class="field">
    <%= f.label :bio, 'Bio', class: 'label' %>

    <div class="control">
      <%= f.text_area :bio, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit 'Save', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
