<%# Avoid having to check current user for each table row %>
<%- signed_in_as_staff = signed_in_as_staff? -%>

<h1 class="title">Authors</h1>

<% if user_signed_in? %>
  <div class="buttons">
    <% if policy(Author).create? %>
      <%= link_to new_author_path, class: 'button' do %>
        <span class="icon">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Add new author</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <% if signed_in_as_staff %>
          <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr class="author-row">
          <th scope="row" class="author-name">
            <%= link_to author.name, author %>
          </th>
          <% if signed_in_as_staff %>
            <td>
              <div class="buttons">
                <% if policy(author).update? %>
                  <%= link_to edit_author_path(author), class: 'button is-info is-small' do %>
                    <span class="icon">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </span>
                    <span>Edit<span class="is-sr-only"> author</span></span>
                  <% end %>
                <% end %>
                <% if policy(author).destroy? %>
                  <%= link_to author_path(author), class: 'button is-danger is-small',
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this author?' } do %>
                    <span class="icon">
                      <i class="fas fa-times" aria-hidden="true"></i>
                    </span>
                    <span>Delete<span class="is-sr-only"> author</span></span>
                  <% end %>
                <% end %>
              </div>
            </td>
            <% end %>
        </tr>
      <% end %>
      <% if @authors.empty? %>
        <tr class="empty-row">
          <td>No authors yet.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
