<article class="box">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="author-name title"><%= @author.name %></h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item buttons author-actions">
        <% if policy(@author).update? %>
          <%= link_to edit_author_path(@author), class: 'button is-info' do %>
            <span class="icon">
              <i class="fas fa-edit" aria-hidden="true"></i>
            </span>
            <span>Edit<span class="is-sr-only"> author</span></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="buttons">
    <% if @author.wiki_url %>
      <%= link_to @author.wiki_url, class: 'button' do %>
        <span class="icon">
          <i class="fab fa-wikipedia-w"></i>
        </span>
        <span class="wiki-url">Article on wikipedia</span>
      <% end %>
    <% end %>

    <%= link_to books_by_author_link(@author), class: 'button' do %>
      <span class="icon">
        <i class="fas fa-book"></i>
      </span>
      <span>Books by this author</span>
    <% end %>
  </div>

  <section class="author-bio mt-3">
    <% if @author.bio %>
      <%= simple_format(@author.bio) %>
    <% else %>
      <p>Author bio not available.</p>
    <% end %>
  </section>
</article>
