<h2 class="title">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put, class: 'change-password-form box' }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, 'New password', class: 'label' %>

    <div class="control has-icons-left">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-key" aria-hidden="true"></i>
      </span>
    </div>

    <%= help_error_message(f, :password) %>

    <% if @minimum_password_length %>
      <span class="help">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />

    <div class="control has-icons-left">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-key" aria-hidden="true"></i>
      </span>
    </div>

    <%= help_error_message(f, :password_confirmation) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit 'Change my password', class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
