<h2 class="title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name),
       html: { method: :post, class: 'new-password-form box' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field has-addons">
    <div class="control has-icons-left">
      <%= f.email_field :email, class: 'input', placeholder: 'Email',
              autofocus: true, autocomplete: "email" %>

      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>

    <div class="control">
      <%= f.submit "Send me reset password instructions", class: 'button is-primary' %>
    </div>
  </div>
<% end %>
