<%- user_book_review = user_reviews[book.id] -%>
<div class="column is-one-third">
  <article class="card">
    <header class="card-header">
      <h4 class="card-header-title">
        <%= link_to book_path(book) do %>
          <span class="icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          <span class="book-title"><%= book.title %></span>
        <% end %>
      </h4>
    </header>
    <section class="card-content">
      <%= render 'authors/author_tags', authors: book.authors %>
      <%= render 'tags/book_tags', tags: book.tags %>

      <div class="content book-description">
        <%= simple_format(book.description) %>
      </div>

      <div class="book-review-info">
        <%= book_reviews_link(book) %>
      </div>
    </section>
    <% if user_signed_in? %>
      <footer class="card-footer">
        <% if user_book_review %>
          <%= link_to referred_book_review_path(book, user_book_review), class: 'card-footer-item' do %>
            <span class="icon">
              <i class="fas fa-check" aria-hidden="true"></i>
            </span>
            You've reviewed this book
          <% end %>
        <% else %>
          <%= link_to new_book_review_path(book), class: 'card-footer-item' do %>
            <span class="icon">
              <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </span>
            Add book review
          <% end %>
        <% end %>
      </footer>
    <% end %>
  </article>
</div>
