<%= form_with(model: book, html: { class: 'book-form box' } ) do |f| %>
  <div class="field">
    <%= f.label :title, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.text_field :title, class: 'input' %>

      <span class="icon is-left">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
    </div>
    <%= help_error_message(f, :title) %>
  </div>

  <%# Allow users to set an initial author for new books.
    # After the book is persisted, more authors should be added using the
    # 'Add author' button on the book show page. %>
  <% if book.new_record? %>
    <%= render 'authors_books/new_field', f: f, authors: @authors %>
  <% end %>

  <div class="field">
    <%= f.label :description, class: 'label' %>

    <div class="control">
      <%= f.text_area :description, class: 'textarea' %>
    </div>
    <%= help_error_message(f, :description) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Save", class: 'button is-primary' %>
    </div>
  </div>
<% end %>
