<%= form_with scope: :search, url: books_path, remote: false, method: :get,
      html: { id: 'book-search-form', class: 'panel' } do |f| %>
  <p class="panel-heading">Search books</p>

  <section class="panel-block">
    <div class="control has-icons-left">
      <%= f.text_field :title, class: 'input', value: search_params[:title],
              placeholder: 'Search by title...', autofocus: 'autofocus' %>
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </section>

  <section class="panel-block">
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= f.select :author_id,
              options_from_collection_for_select(authors, :id, :name, search_params[:author_id]),
              prompt: 'Search by author' %>
      </div>

      <span class="icon is-left">
        <i class="fas fa-pen-nib" aria-hidden="true"></i>
      </span>
    </div>
  </section>

  <section class="panel-block">
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= f.select :tag_id,
              options_from_collection_for_select(tags, :id, :name, search_params[:tag_id]),
              prompt: 'Search by tag' %>
      </div>

      <span class="icon is-left">
        <i class="fas fa-tag" aria-hidden="true"></i>
      </span>
    </div>
  </section>

  <section class="panel-block search-button">
    <div class="buttons">
      <%= link_to 'Reset', books_path, class: 'button' %>
      <%= f.submit 'Search', class: 'button is-primary' %>
    </div>
  </section>
<% end %>
