<h1 class="title">Books</h1>

<% if user_signed_in? %>
  <div class="buttons">
    <% if policy(Book).create? %>
      <%= link_to new_book_path, class: "button" do %>
        <span class="icon">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Add new book</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render 'search_form', search_params: @search_params,
                          tags: @tags,
                          authors: @authors %>

<section class="books columns is-multiline">
  <%= render collection: @books, partial: 'book_card', as: :book,
        locals: { user_reviews: @user_reviews }  %>
</section>
