<article class="box">
  <div class="level">
    <div class="level-left">
      <h2 class="level-item book-title"><%= @book.title %></h2>
    </div>
    <div class="level-right">
      <div class="level-item buttons book-actions">
        <% if @book.reviewed_by?(current_user) %>
          <%= link_to referred_book_review_path(@book, @book_review), class: 'button is-primary' do %>
            <span class="icon">
              <i class="fas fa-check" aria-hidden="true"></i>
            </span>
            <span>Reviewed</span>
          <% end %>
        <% elsif book_review_policy(@book).create? %>
          <%= link_to new_book_review_path(@book), class: 'button is-primary' do %>
            <span class="icon">
              <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </span>
            <span>Review book</span>
          <% end %>
        <% end %>
        <% if policy(@book).update? %>
          <%= link_to edit_book_path(@book), class: 'button is-info' do %>
            <span class="icon">
              <i class="fas fa-edit" aria-hidden="true"></i>
            </span>
            <span>Edit <span class="is-sr-only">book</span></span>
          <% end %>
        <% end %>
        <% if policy(@book).destroy? %>
          <%= link_to book_path(@book), class: 'button is-danger',
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this book?' } do %>
            <span class="icon">
              <i class="fas fa-times" aria-hidden="true"></i>
            </span>
            <span>Delete <span class="is-sr-only">book</span></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <%= render 'authors/author_tags',
              authors: @authors,
              book: @book,
              allow_delete_tags: policy(@book).update?  %>
      </div>

      <% if @tags.any? %>
        <div class="level-item">
          <%= render 'tags/book_tags',
                tags: @tags,
                book: @book,
                allow_delete_tags: policy(@book).update?  %>
        </div>
      <% end %>
    </div>

    <% if signed_in_as_staff? %>
      <div class="level-right ml-3">
        <div class="level-item buttons">
          <% if policy(@book).update? %>
            <%= link_to new_book_author_path(@book), class: 'button is-primary' do %>
              <%= icon_span('fas fa-pen-nib') %>
              <span>Add author</span>
            <% end %>
            <%= link_to new_book_tag_path(@book), class: 'button is-primary' do %>
              <%= icon_span('fas fa-tag') %>
              <span>Add tag</span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="book-description">
    <%= simple_format(@book.description) %>
  </section>
</article>
