<div class="field">
  <%= label_tag 'tag_id', 'Tag', class: 'label' %>

  <div class="control has-icons-left">
    <div class="select is-fullwidth">
      <%= select_tag 'tag_id',
            options_from_collection_for_select(tags, :id, :name, params[:tag_id]),
            prompt: 'Select tag' %>
    </div>

    <span class="icon is-left">
      <i class="fas fa-tag" aria-hidden="true"></i>
    </span>
  </div>

  <%= help_error_message(f, :new_book_tag_id) %>
</div>
