<h2 class="title">Add tag</h2>

<%= form_with(model: @book, method: :post, url: book_tags_path(@book),
              html: { class: 'add-tag-form box' }) do |f| %>

  <%= render 'new_field', f: f, tags: @tags %>

  <div class="field">
    <div class="control">
      <%= f.submit 'Save', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
