<%- allow_delete_tags = local_assigns.fetch(:allow_delete_tags, false) -%>
<section class="book-tags mb-3">
  <div class="tags">
    <% tags.each do |tag| %>
      <p class="tag is-medium" id="book-tag-<%= tag.id %>" style="<%= display_tag_css_style(tag) %>">
        <%= icon_span(tag.icon.presence || 'fas fa-tag') %>
        <span class="tag-name"><%= tag.name %></span>

        <% if allow_delete_tags %>
          <%= link_to book_tag_path(book, tag),
                class: 'delete is-small', method: :delete,
                data: { confirm: 'Are you sure you want to remove this tag?' } do %>
            <span class="is-sr-only">Remove tag</span>
          <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
</section>
