<%= form_with(model: tag, html: { class: 'tag-form box' }) do |f| %>
  <div class="field">
    <%= f.label :name, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.text_field :name, class: 'input' %>

      <span class="icon is-left">
        <i class="fas fa-tag" aria-hidden="true"></i>
      </span>
    </div>
    <%= help_error_message(f, :name) %>
  </div>

  <div class="field">
    <%= f.label :icon, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.text_field :icon, class: 'input', list: 'tag-icon-options-list' %>

      <span class="icon is-left">
        <i class="fas fa-icons" aria-hidden="true"></i>
      </span>
    </div>
    <%= help_error_message(f, :icon) %>
    <span class="help is-info">
      For awesome icons check out <a href="https://fontawesome.com/v5.15/icons">Font Awesome</a>
    </span>
  </div>

  <div class="field">
    <%= f.label :color, class: 'label' %>

    <div class="control has-icons-left">
      <%= f.color_field :color, class: 'input' %>

      <span class="icon is-left">
        <i class="fas fa-tint" aria-hidden="true"></i>
      </span>
    </div>
    <%= help_error_message(f, :color) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit 'Save', class: 'button is-primary' %>
    </div>
  </div>

  <%= tag_icon_options_list %>
<% end %>
