<%# Avoid having to check current user for each table row %>
<%- signed_in_as_staff = signed_in_as_staff? -%>

<h1 class="title">Tags</h1>

<% if user_signed_in? %>
  <div class="buttons">
    <% if policy(Tag).create? %>
      <%= link_to new_tag_path, class: 'button' do %>
        <span class="icon">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </span>
        <span>Add new tag</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="box">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <% if signed_in_as_staff %>
          <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr id="tag-row-<%= tag.id%>" class="tag-row">
          <th scope="row" class="tag-name">
            <%= display_tag(tag) %>
          </th>
          <% if signed_in_as_staff %>
            <td>
              <div class="buttons">
                <% if policy(tag).update? %>
                  <%= link_to edit_tag_path(tag), class: 'button is-info is-small' do %>
                    <span class="icon">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </span>
                    <span>Edit<span class="is-sr-only"> tag</span></span>
                  <% end %>
                <% end %>
                <% if policy(tag).destroy? %>
                  <%= link_to tag_path(tag), class: 'button is-danger is-small',
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this tag?' } do %>
                    <span class="icon">
                      <i class="fas fa-times" aria-hidden="true"></i>
                    </span>
                    <span>Delete<span class="is-sr-only"> tag</span></span>
                  <% end %>
                <% end %>
              </div>
            </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
