// Import Bulma CSS framework
@charset "utf-8";
@import "~bulma/bulma";

// Import FontAwesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Layout

.main-section {
  @extend .section;
  padding-top: 1rem;
}

a.navbar-item.is-active {
  color: $info;
}

// Flash alert customization
.flash-alert:empty {
  display: none;
}

// Books
.books .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.books .card .card-content {
  flex: auto;
}

.books .card .book-review-info {
  text-align: center;
}

.books .card .card-footer {
  align-items: center;
}

.books .card-header-title a {
  color: $title-color;
}

.book-description p {
  @extend .block;
}

.book-title {
  @extend .title;
}

.book-title a {
  color: inherit
}

// Book reviews
.book_reviews .media {
  padding: 0.65rem;
}

.book_reviews .media.is-primary {
  border: 1px solid $primary;
}

// Authors
.author-tag-link {
  color: inherit;
}

.author-bio p {
  @extend .block;
}
// User roles
.tag.has-user-role-admin {
  @extend .is-info;
}

.tag.has-user-role-visitor {
  @extend .is-dark;
}

.tag.has-user-role-staff {
  @extend .is-primary;
}

.table tr.is-primary {
  border: 3px solid $primary;
}

// Ensure table buttons are full-width
.user-role-update button {
  width: 100%;
}

// Form helpers
.field_with_errors .label {
  color: $red;
}

.control .field_with_errors {
  border: 1px solid $red;
}
