<h2 class="title">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),
      html: { class: 'sign-in-form box' }) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
      <span class="icon is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <label class="checkbox">
        <%= f.check_box :remember_me, class: 'checkbox' %>
        <span class="ml-2">
          Remember me
        </span>
      </label>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.submit 'Sign in', class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
