<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation"
    data-controller="navbar" >
  <div class="navbar-brand">
    <%= navbar_brand('BookLists') %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        data-action="navbar#toggleMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= navbar_link('Books', books_path, 'fas fa-book') %>
      <%= navbar_link('Authors', authors_path, 'fas fa-pen-nib') %>
      <%= navbar_link('Tags', tags_path, 'fas fa-tag') %>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div id="admin-links" class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">Admin</span>

            <div class="navbar-dropdown">
              <%= link_to admin_user_roles_path, class: 'navbar-item' do %>
                <span class="icon">
                  <i class="fas fa-user-tie" aria-hidden="true"></i>
                </span>
                <span>User roles</span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="navbar-item">
          <span class="has-text-weight-bold"><%= current_user.email %></span>
        </div>
        <%= link_to 'Sign out', destroy_user_session_path, class: 'navbar-item',
              method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'navbar-item' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-item' %>
      <% end %>
    </div>
  </div>
</nav>
